.a-enter-vr-button {
   position: absolute;
    top: 20px;
    right: 10px; 
    z-index: 9999;
    height: 40px;
}

body {
  background-image: url("http://www.planwallpaper.com/static/images/background-wallpapers-32.jpg");
}